@import "tailwindcss" theme(static);
@import './fonts.css';
@import './slider.css';
@import './styles.css';
@source "../views/";
@source "../../app/";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";


@theme {
  --font-sans: 'Barlow', sans-serif;
  --font-serif: 'EB Garamond', serif;
  --font-display: 'Barlow Condensed', sans-serif;
  --default-font-family: var(--font-sans);

  --breakpoint-xl: 1176px;
  --breakpoint-2xl: 1280px;

  --text-sm: 1rem;
  --text-base: 1.125rem;
  --text-5xl: 2.75rem;
  --text-6xl: 3.5rem;
  --text-9xl: 6.875rem;

  --tracking-wider: 4px;

  --color-*: initial;

  --color-black: #000;
  --color-white: #fff;
  --color-gray-light: #C4C4C4;
  --color-gray-medium: #7B7B7B;
  --color-gray-dark: #4D4D4D;
  --color-fg-light: #ffffffcc;
  --color-fg-dark: #000000cc;

  --color-primary: #95C11E;
  --color-secondary: #0A271A;
}

:root :where(.is-layout-constrained)>* {
  /* margin-block-start: initial;
  margin-block-end: inherit; */
}

section {
  margin-bottom: 120px !important;
}
@media screen and (min-width: 1176px) {
  section{
    margin-bottom: 180px !important;
  }
}
a {
  text-decoration: none;
}
p{
  @apply text-base 
}
.heading-2 {
  @apply text-5xl xl:text-6xl xl:leading-15 leading-12 font-display font-black italic tracking-wide
}
.heading-3{
  @apply text-4xl xl:text-5xl font-display font-black italic tracking-wide
}
.subtitle{
  @apply text-primary text-base font-semibold uppercase tracking-wide mb-11
}
.btn {
  @apply px-6 py-2 text-base font-semibold rounded transition
}

.btn-primary {
  @apply bg-primary text-secondary border-2 border-primary hover:bg-secondary hover:text-primary transition
}

.btn-white {
  @apply border-2 text-white border-white hover:bg-white hover:text-secondary
}

.btn-secondary {
  @apply border-2 border-secondary text-secondary hover:bg-secondary hover:text-primary
}

.btn-clean {
  @apply text-secondary p-0 flex items-center gap-2
}